<!-- app/views/spots/show.html.erb -->

<style>
  #map {
    height: 50vh;
  }
</style>

<div class="container mx-auto px-4">

  <%= render 'shared/flash_message'%>

  <div class="page-move flex flex-row justify-between pt-4 pb-4 mx-auto">
    <%= link_to '＜ 探索に戻る', spots_path, class: 'back-link font-bold' %>
    <% if @spot.user == current_user %>
      <div class="flex justify-end">
        <%= link_to 'マイスポット一覧へ ＞', your_spots_path, class: 'font-bold' %>
      </div>
    <% end %>
  </div>

  <div class="spot-detail">
    <div class="spot-card bg-orange-200 rounded-lg border border-orange-700 p-4 space-y-6 max-w-5xl mx-auto">
      <h2 class="spot-title font-bold text-3xl mx-3 pt-2"><%= @spot.name %></h2>

      <div class="spot-image">
          <% if @spot.spot_image.attached? %>
            <%= image_tag url_for(@spot.spot_image), class: "w-144 h-108 object-cover mx-auto" %>
          <% else %>
            <span class="text-gray-600 text-sm">画像</span>
          <% end %>
      </div>

      <table class="spot-info">
        <tr>
          <th>タグ：</th>
          <td>
            <div class="tag">Coming Soon...</div>
          </td>
        </tr>
        <tr>
          <th>概要</th>
          <td><%= @spot.summary %></td>
        </tr>
      </table>

      <div class="map-container" id="map"></div>

      <div class="near-spots-title">近くのスポット(Coming Soon...)</div>
      <div class="near-spots-place">

      </div>
    </div>
  </div>
</div>

<!-- Google Maps JS読み込み -->
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAPS_API_KEY"] %>&callback=ShowMacker&language=ja">
</script>

<script>
  window.ShowMacker = function() {
    const latLng = { lat: <%= @spot.latitude %>, lng: <%= @spot.longitude %> };
    const map = new google.maps.Map(document.getElementById("map"), {
      zoom: 16,
      center: latLng,
    });

    new google.maps.Marker({
      position: latLng,
      map: map,
      title: "<%= j @spot.name %>"
    });
  }
</script>
