<%= form_with(model: @user, local: true, url: super_admin_user_path, html: { multipart: true, class: "space-y-6" }, data: { turbo: false }) do |f| %>
  <div>
    <%= f.label :id, class: "block font-medium text-gray-700 font-bold mb-1" do %>
      ユーザーID
      <span class="text-red-400 text-sm font-bold ml-2"> *必須</span>
    <% end %>
    <%= f.text_field :id, class: "w-full border border-gray-300 rounded-md p-2 bg-white" %>
  </div>

  <div>
    <%= f.label :name, class: "block font-medium text-gray-700 font-bold mb-1" do %>
      ユーザー名
      <span class="text-red-400 text-sm font-bold ml-2"> *必須</span>
    <% end %>
    <%= f.text_field :name, class: "w-full border border-gray-300 rounded-md p-2 bg-white" %>
  </div>

  <div>
    <%= f.label :email, class: "block font-medium text-gray-700 font-bold mb-1" do %>
      メールアドレス
      <span class="text-red-400 text-sm font-bold ml-2"> *必須</span>
    <% end %>
    <%= f.text_field :email, class: "w-full border border-gray-300 rounded-md p-2 bg-white" %>
  </div>

  <div>
    <%= f.label :role, class: "block font-medium text-gray-700 font-bold mb-1" do %>
      管理者権限
      <span class="text-red-400 text-sm font-bold ml-2"> *必須</span>
    <% end %>
    <%= f.select :role,
          [["ユーザー", :general], ["サービス提供者", :admin], ["アプリ管理者", :super_admin]],
          { prompt: "選択してください" },
          class: "w-full border border-gray-300 rounded-md p-2 bg-white" %>

  </div>

  <!-- 登録ボタン -->
  <div>
    <%= f.submit "登録", class: "bg-green-600 text-white font-semibold px-6 py-2 rounded-md hover:bg-green-700"%>
  </div>
<% end %>