<div class="container mx-auto w-96">

  <%= render 'shared/flash_message'%>

  <div class="spot-card bg-orange-200 rounded-lg border-2 border-orange-300 border- p-4 space-y-6 max-w-5xl mx-auto">
    <div class="font-bold text-2xl">プロフィール</div>

      <div class="flex flex-col px-3">
        <div class="px-5">
          <div class="text-bold text-xl">
            アカウント名
          </div>
          <div class="px-10">
            <%= current_user.name %>
          </div>
        </div>
      </div>

      <div class="flex flex-row items-start justify-end px-10">
        <%= link_to "編集", edit_user_registration_path, class: "bg-blue-500 hover:bg-blue-600 text-white w-25 py-2 rounded text-xs text-center" %>
      </div>

      <div class="flex flex-col p-3">
        <div class="px-5">
          <div class="text-bold text-xl">
            メールアドレス <br />
            パスワード
          </div>
        </div>
      </div>
    </div>

    <div class="p-3">
     <%= button_to "ログアウト", destroy_user_session_path, method: :delete, 
                              data: { turbo: false, confirm: "ログアウトしますか？" }, 
                              class: "bg-red-500 hover:bg-red-600 text-white px-4 py-2 rounded text-xs text-center" %>
    </div>
  </div>

</div>

<%= render 'shared/your_page_footer_form' %>
