<!-- ヘッダー -->
<div class="flex items-center justify-between py-2">
  <div class="text-3xl font-bold text-orange-600">
    <%= link_to root_path, class: "px-1" do %>
      Saita<span class="text-yellow-400">Manear</span>
    <% end %>
  </div>

  <div class="flex flex-row">
    <label 
    for="my_modal_7" 
    class="btn bg-transparent flex flex-col pt-1 border-none shadow-none hover:btn-ghost"
    >
      <%= image_tag 'header/question.png', alt: "読み込み中", class: "w-6 h-6" %>
      <span>使い方</span>
    </label>

    <%= render 'how_to_use/application' %>

    <%= link_to new_user_session_path, class:"btn btn-ghost flex flex-col items-center font-bold flex-1 min-w-0" do %>
      <%= image_tag 'header/my_page.png', alt: "探索", class: "w-6 h-6" %>
      <span>ログイン</span>
    <% end %>
  </div>
</div>