  <%= link_to root_path, class:"btn btn-ghost flex flex-col items-center font-bold flex-1 min-w-0" do %>
      <%= image_tag 'footer/home.png', alt: "地点登録", class: "w-6 h-6" %>
    <span>ホーム</span>
  <% end %>

  <span class="text-gray-400 text-2xl">|</span>

  <%= link_to new_spot_path, class:"btn btn-ghost flex flex-col items-center font-bold flex-1 min-w-0" do %>
      <%= image_tag 'footer/new_spot.png', alt: "地点登録", class: "w-6 h-6" %>
    <span>地点登録</span>
  <% end %>

  <span class="text-gray-400 text-2xl">|</span>

  <%= link_to spots_path, class:"btn btn-ghost flex flex-col items-center font-bold flex-1 min-w-0" do %>
      <%= image_tag 'footer/searching.png', alt: "探索", class: "w-6 h-6" %>
      <span>探索</span>
  <% end %>

  <span class="text-gray-400 text-2xl">|</span>

  <%= link_to search_spots_path, class:"btn btn-ghost flex flex-col items-center font-bold flex-1 min-w-0" do %>
    <%= image_tag 'footer/nearby_search.png', alt: "探索", class: "w-6 h-6" %>
    <span>周辺検索</span>
  <% end %>