<!DOCTYPE html>
<html>
  <head>
    <title>SaitaManear_SuperAdmin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="text-black">
    <div class="bg-blue-500">
      <%= render 'super_admin/shared/header' %>
    </div>
    <div class="flex bg-white">
      <aside class="w-64 min-h-screen">
        <%= render 'super_admin/shared/sidebar' %>
      </aside>
      <main class="flex-1 px-6 py-4">
        <%= yield %>
      </main>
    </div>
  </body>
</html>