<div class="flex flex-col items-center pt-10 px-4">
  <div class="card w-full max-w-sm bg-orange-200 shadow-xl">
    <div class="card-body">
      <h1 class="card-title justify-center py-3">パスワード再発行</h1>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>

        <div class="form-control mb-4">
          <%= f.label :email, "メールアドレス", class: "label" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input input-bordered" %>
        </div>

        <div class="form-control mt-8">
          <%= f.submit "送信", class: "btn btn-warning" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="pt-10">
    <%= render "users/shared/links" %>
  </div>
</div>
