<!DOCTYPE html>
<html class="h-full", data-theme="light">
  <head>
    <title><%= content_for(:title) || "SaitaManear" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

    <!-- Google tag (gtag.js) -->
    <% if Rails.env.production? %>

      <script async src="https://www.googletagmanager.com/gtag/js?id=G-EM99NL3P0M"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-EM99NL3P0M');
      </script>
    <% end %>
  </head>

  <body class="bg-lime-100 h-full">
    <div class="fixed top-0 left-0 right-0 z-10 bg-green-500" >
      <% if signed_in? %>
        <%= render 'shared/common/header' %>
      <% else %>
        <%= render 'shared/common/before_login_header' %>
      <% end %>
    </div>

    <div class="pt-24 pb-24 min-h-screen">
          <%= yield %>
    </div>

    <div class="fixed bottom-0 bg-green-500 flex w-full items-center text-xs py-2 border-t border- border-green-800 z-10">
      <% if signed_in? %>
        <%= render 'shared/common/footer' %>
      <% else %>
        <%= render 'shared/common/before_login_footer' %>
      <% end %>
    </div>
  </body>
</html>
