<div class="flex flex-col items-center pt-10 px-4">
  <div class="card w-full max-w-sm bg-orange-200 shadow-xl">
    <div class="card-body">
      <h2 class="card-title justify-center text-xl">アカウント情報</h2>

      <div class="form-control mb-4">
        <label class="label text-sm text-gray-600">名前 *現在変更不可</label>
        <p class="text-lg font-semibold"><%= @user.name %></p>
      </div>

      <div class="form-control mb-4">
        <label class="label text-sm text-gray-600">メールアドレス *現在変更不可</label>
        <p class="text-lg font-semibold"><%= @user_masked_email %> </p>
      </div>

      <div class="flex flex-row items-center justify-between mb-4">
        <div class="flex flex-col form-control mb-4">
          <label class="label text-sm text-gray-600">パスワード</label>
          <p class="text-lg font-semibold"> ********* </p>
        </div>
        <div class="form-control mt-6">
          <%= link_to "パスワード変更", edit_user_registration_path, class: "btn btn-warning w-full hover:bg-orange-400" %>
        </div>
      </div>

    </div>
  </div>

  <div class="card w-full max-w-sm mt-8 bg-rose-100 shadow-xl">
    <div class="card-body items-center">
      <p class="text-sm text-gray-600 mb-2">ログアウトしますか？</p>
      <%= button_to "ログアウト", destroy_user_session_path,
          method: :delete,
          class: "btn btn-secondary btn-error w-full",
          data: { confirm: "ログアウトしますか？" } %>
    </div>
  </div>
  <%= render 'shared/your_page_footer_form' %>
</div>
